.b-r-circle
  border-radius: 50%!important
.b-r-2
  border-radius: 2px!important
.b-r-4
  border-radius: 4px!important
.b-r-6
  border-radius: 6px!important
.b-r-10
  border-radius: 10px!important
.b-r-14
  border-radius: 14px!important
.b-r-16
  border-radius: 16px !important
.b-r-20
  border-radius: 20px!important
.b-r-25
  border-radius:25px!important
.b-r-40
  border-radius: 40px
.b-r-no-left
  border-top-left-radius: 0!important
  border-bottom-left-radius:0!important 
.b-r-no-right
  border-top-right-radius: 0!important
  border-bottom-right-radius:0!important 
.b-r-no-bottom
  border-bottom-left-radius: 0!important
  border-bottom-right-radius:0!important 

.b-666
  border 1px solid #666
.b-999
  border 1px solid #999
.b-ccc
  border 1px solid #cccccc
.b-ddd
  border 1px solid #ddd
.b-eee
  border 1px solid #eeeeee
.b-fff
  border 1px solid #fff
.b-d0d0d0
  border 1px solid #d0d0d0
.b-red
  border 1px solid #FB7171!important
.b-orange,.b-yellow
  border 1px solid #FEA95E

.b-c-ccc
  border-color #ccc!important
.b-transparent
  border-color transparent!important
.b-error,.b-red
  border-color #FB7171!important

.b-w-0
  border-width 0px!important
.b-w-2
  border-width 2px!important


.b-s-dotted
  border-style dotted!important
.b-s-dashed
  border-style dashed!important

.b-no-t
  border-top none !important
.b-no-b
  border-bottom none !important 
.b-no-l
  border-left none !important
.b-no-r
  border-right none !important 
.b-no-tb
  @extend .b-no-t
  @extend .b-no-b
.b-no-lr
  @extend .b-no-l
  @extend .b-no-r
.b-no
  @extend .b-no-t
  @extend .b-no-b
  @extend .b-no-l
  @extend .b-no-r
