*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-family:"PingFangHK-Regular",'Microsoft YaHei', "Open Sans",arial,sim, sans-serif,'MicrosoftYaHe';
    box-sizing: border-box;
    // font-size 14px
    // color inherit
    word-break: break-all
    // line-height: 1em
  }
// .vw-app
//   *
//     transition all ease .4s
*
  &::-webkit-scrollbar
    width 6px
    height 6px
  &:hover
    &::-webkit-scrollbar-thumb
      background-color rgba(216,216,216,1,1)

  &::-webkit-scrollbar-thumb
    transition all ease .3s
    border-radius 6px
    background-color rgba(#ccc,.8)
    cursor pointer

html 
  height 100%
  width 100%
  // overflow hidden
  transition none
html body
  // min-width 1200px
  margin 0 auto
  width 100%
  height 100%
  background #fff
  overflow hidden
  // user-select text!important
  header,main,footer,article,section,nav,aside
    display block
  textarea
    // 去除三角图标
    resize none
  input,button,textarea
    border: none
    border-width 0
    background none
    padding none
    outline: none
    &::placeholder
      color #aaa
    

  h1,h2,h3,h4,h5,h6
    font-weight 500
    margin-bottom 0
    margin-top 0

  strong 
    font-weight 600

  ::-ms-clear, ::-ms-reveal
    display none

  ul,ol,li
    list-style none
    margin-top 0
    margin-bottom 0
  a
    text-decoration none
    // &:hover
    //   opacity 0.7
  a,img
    border none
  a
    border: none
    border-width 0
    // border-
  em
    font-style:normal 
  li
    list-style:none 
    margin-top 0
    margin-bottom 0
  img
    border:0;
    vertical-align:middle 
  table
    border-collapse:collapse;
    border-spacing:0 
  p
    word-wrap:break-word 
    margin 0
    margin-top 0
    margin-bottom 0

