
.ease-300
  transition: all ease .3s
.ease-400
  transition all ease .4s
.ease-500
  transition all ease .5s

.scale-60
  transform: scale(.6)
.scale-90
  transform: scale(.9)

.rotate-45
  transform: rotate(45deg)
.rotate-90
  transform: rotate(90deg)
.rotate-180
  transform: rotate(180deg)

.rotateX-180
  transform: rotateX(180deg)

